* {
  margin: 0;
  padding: 0;
  align-items: center;
}

/* Pop-Up window */
.popup {
  position: relative;
  left: 20%;
  top: 500px;
  z-index: 9999;
  width: fit-content;
}
#cancel {
  position: absolute;
  top: 0px;
  right: -1965px;
  /* botto */
}
.rules {
  background-color: rgb(253, 252, 223);
  position: absolute;
  top: 72px;
  width: 1800px;
  border: 28px solid orange;
  padding: 60px;
  font-size: 50px;
}
.rules li {
  color: #873ec1;
  list-style: square;
  margin-bottom: 10px;
}

#purple {
  color: purple;
  font-weight: bolder;
}



.container {
  height: 100vh;
  width: 100vw;
  /* background-color: blue; */
}

/* Header */

.top {
  display: flex;
  justify-content: space-between;
  padding: 35px;
  background-color: rgb(55, 91, 225);
  color: white;
}

#title_box {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
  position: relative;
}
#title {
  font-size: 80px;
  margin-left: 20px;
}

/* Buttons */
#rect {
  background-color: white;
  width: 15px;
  height: 15px;
}
#rect:hover {
  transform: translateX(200px) rotate(360deg);

  transition: transform 5s ease-in-out;
}
.btn-pink {
  width: 500px;
  padding: 20px;
  cursor: pointer;
  font-size: 50px;
  font-weight: bold;
  color: white;
  background-color: chocolate;
  border-radius: 16px;
  border: 3px solid transparent;
  position: relative;
  z-index: 1;
}

/* before and after doesnt appears until thier size is set */
.btn-pink::before {
  content: "";
  position: absolute;
  background-color: white;
  transform-origin: left;
  cursor: pointer;
  z-index: -1;
  transition: all 0.5s;
  transform: scaleX(0);
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
}


.btn-pink:hover::before {
  transform: scaleX(1);
}
.btn-pink:hover {
  color: black;
}

.nodes {
  padding: 35px;
  display: flex;
  justify-content: space-between;
}

.nodes ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 75px;
}
.nodes ul li {
  font-size: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nodes ul li p {
  gap: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(66, 8, 66);
  font-weight: bold;
}

#wtBtn {
  background-color: brown;
}
.wt_clicked {
  background-color: rgb(202, 124, 124) !important;
  transform: scale(0.8);
}
/* #wt-btn:hover  */
/* jb hover kroge to side m weight bhi dikhega */

/* Main Area */
.main_box {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: rgb(26, 26, 80);
  padding: 15px;
  /* margin-bottom: 0px; */
}
.left_box {
  width: 75vw;
  padding: 20px 29px;
}
.grid {
  display: grid;
  border: 2px solid black;
  color: black;
  width: 70vw;
  height: 1150px;
  background-color: white;
}
.cell {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border: 1px solid #ccc;
}
.right_box {
  width: 25vw;
  padding: 0 40px;
  /* position: relative; */
}

.algo {
  border: 5px solid white;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  position: absolute;
  margin-top: -590px;
  /* bottom: 0px; */
}

.algo h2 {
  color: white;
  font-size: 70px;
}

.algo select {
  width: 400px;
  height: 70px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  border-radius: 10px;
  border-radius: 10px solid blue;
}

.algo #explain {
  margin: 40px 20px;
  border: 4px white dashed;
  border-radius: 25px;
  color: white;
  font-size: 37px;
  padding: 10px;
}

.algo button {
  color: white;
  background-color: green;
}

/* an overlayer above whole page to stop from clicking while we are visualizing */

.overlayer {
  pointer-events: none;
  cursor: not-allowed;
}

/* Implementation Section */
.im_box {
  background-color: black;
  background-image: linear-gradient(
    to bottom,
    rgb(26, 26, 80) 1%,
    rgb(1, 1, 14) 60%,
    gray 100%
  );
  background-size: cover;
  margin-top: 0px;
}

.implementation {
  display: flex;
  padding-top: 200px;
  flex-direction: column;
  gap: 80px;
  margin-left: 50px;
  background: transparent;
}
.implementation h1 {
  left: 30px;
  color: white;
  font-size: 100px;
  margin-right: 1480px;
}
.logo {
  margin: 50px 30px;
}
.logo img {
  height: 140px;
}

.code {
  background-color: transparent;
  border: 18px solid orange;
  padding: 20px 90px;
  width: 1400px;
  font-size: 44px;
  color: white;
}

/* COntact Me Section */
.last_box {
  background-color: black;
  background-image: linear-gradient(to bottom, gray 70%, black 100%);
  display: flex;
  padding: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#contact {
  color: darkorange;
  font-size: 100px;
  font-weight: 900;
  margin-left: 200px;
}
