* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  /* background-color: ; */
}

#container {
  width: 100vw;
  height: 100vh;
  background-image: url("images/bg_1.jpg");
  text-align: center;
}

header {
  width: 100%;
  min-height: 200px;
}

#title {
  text-align: center;
  background-color: burlywood;
}

#title h1 {
  font-size: 150px;
}

.sorting-btns {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  margin-left: 20px;
  margin-top: 10px;
}

.sorting-btns li button {
  padding: 20px;
  font-size: 40px;
  font-weight: 600;
  border-radius: 15px;
}

.sorting-btns li button:hover {
  background-color: lightblue;
  transition: ease-in;
  font-size: 38px;
}

main {
  margin-top: 40px;
}

#box {
  height: 1250px;
  width: 90vw;
  margin: auto;
  position: relative;
  background-color: white;
  border: 8px solid #ddd;
  overflow: hidden;
}

.arr_box {
  /* width: 50px; */
  bottom: 0px;
  position: absolute;
  background-color: rgb(172, 172, 196);
  transition: 1s all ease;
  border: 1px solid rgb(116, 116, 154);
  text-align: center;
  font: larger;
}

.iter_box {
  width: 200px;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
  border: 2px solid black;
}

.red_bar {
  background-color: red;
}
.green_bar {
  background-color: green;
}

#slider_box {
  background-color: black;
  color: darkgray;
  font-size: 60px;
}

/* for slider  */
input[type="range"] {
  width: 800px; /* Controls the length of the slider */
  height: 100px;
  cursor: pointer;
}
